


<p>
  <strong>今後ここに画像など代理店詳細情報を拡充する</strong>
</p>

<p>
  <strong>代理店名:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @blog.content %>
</p>

<%= link_to '編集', edit_blog_path(@blog) %> |
<%= link_to '戻る', blogs_path %>
