<h1>一括登録用ファイルアップロード</h1>
<h4>【注意】代理店一覧画面で「Downoad xlsx」ボタンで取得できるフォーマット以外では正常に動作しません</h4>
<h4>xlsx以外のフォーマットをアップしようとするとエラーになります</h4>
<%= render 'form', myfile: @myfile %>

<%= link_to 'Back', myfiles_path %>
