<p id="notice"><%= notice %></p>


<p>
  <strong>Filename:</strong>
  <%= @myfile.filename %>

</p>
<button class="col-xs-2 btn btn-sm btn-outline-secondary"><%= link_to ' 一括登録用',bulk_upload_myfiles_path %></button>
