

<p>
  <strong>Filename:</strong>
  <%= @myfile.filename %>

</p>
<button class="col-xs-2 btn btn-sm btn-outline-secondary"><%= link_to ' 代理店一括登録用ボタン',bulk_upload_myfiles_path(excel_id:@myfile.id) %></button>
