// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pricing-header-extended{
    background: url("iot.png") no-repeat center center;
    background-size: cover;
}

.logo{
    color:white;
    background: url("    b1720d3ef19fee3822603ab2154efb75_m.jpg") no-repeat center center;
    background-size: cover;
}

